services:
  psql:
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "machin"
      POSTGRES_USER: "machin"
      POSTGRES_PASSWORD: "machin_password"
